<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<appSettings>
		<add key="topic" value="elasticsearchtopiclogs"/>
		<!--<add key="topic" value="duplex-message-bus"/>-->
		<add key="brokers" value="10.128.64.152:29001,10.128.64.157:29001,10.128.64.160:29001,10.128.64.161:29001,10.128.64.162:29001"/>
		
		<!--<add key="topic" value="hw-debug"/>
		<add key="zookeeper" value="10.102.91.136,10.102.91.4,10.102.91.6,10.102.91.137,10.102.91.139"/>-->

		<add key="consumermode" value="group"/> <!--group or single-->
		<add key="consumergroup" value="HWDemoConsumer-Debug"/>
		<add key="consumerid" value="debug-consumer"/>
		<add key="autocommit" value="true"/>
	</appSettings>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs.log" />
			<appendToFile value="true" />
			<maximumFileSize value="50MB" />
			<maxSizeRollBackups value="100" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level %thread %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ZooKeeperNet" publicKeyToken="fefd2c046da35b56" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.4.6.1" newVersion="3.3.4.9" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!--<system.diagnostics>
		<sources>
			<source name="System.Net" switchValue="Verbose">
				<listeners>
					<add name="FileTraceListener"/>
				</listeners>
			</source>
			<source name="System.Net.Sockets" switchValue="Verbose">
				<listeners>
					<add name="FileTraceListener"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="FileTraceListener"  type="System.Diagnostics.TextWriterTraceListener, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" traceOutputOptions="ProcessId, LogicalOperationStack, Timestamp, ThreadId, Callstack, DateTime" initializeData="sytem.net.trace.log"/>
			<add name="ConsoleTraceListener" type="System.Diagnostics.ConsoleTraceListener, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</sharedListeners>
		<trace autoflush="true" />
	
	</system.diagnostics>-->
</configuration>